.container {
  padding: 20px 0;
}

.cur {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.compName {
  font-size: 40px;
  font-weight: 800;
}

.toast-body {
  color: #fff;
  position: absolute;
    right: 20px;
    top: 20px;
    width: 150px;
    /* height: 50px; */
    background-color:rgb(95, 92, 92);
    border-radius: 5px;
    text-align: center;
    opacity: 25%;
}